# Python
.venv/
venv/
env/
ENV/
.env/
.ENV/

__pycache__/
.ipynb_checkpoints/
*.pyc

# Datos (mantén datos pesados fuera del repo)
data/raw/
*.zip

# Notebooks con outputs pesados (opcional)
*.nbconvert.ipynb

# SO / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
